body{
  background-color: #E6ECF5;
}
.button{
  height: auto;
  width: auto;
  padding: 6px;
  border-radius: 4px;
  font-style: bold;
  display:flex;
  justify-content: end;

  color: white;
  border: none;
}
